<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CCM-Presentation</display-name>
  <context-param>
    <param-name>facelets.SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.SKIN</param-name>
    <param-value>cedicam</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.RECREATE_VALUE_EXPRESSION_ON_BUILD_BEFORE_RESTORE</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
    <param-value>com.sun.facelets.FaceletViewHandler</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/applicationContext.xml</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.ERROR_HANDLING</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.DEVELOPMENT</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.disableUnicodeEscaping</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.CONFIG_FILES</param-name>
    <param-value>/WEB-INF/classes/faces-config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.jspx</param-value>
  </context-param>
  <filter>
    <display-name>RichFaces Filter</display-name>
    <filter-name>richfaces</filter-name>
    <filter-class>com.cedicam.gm.bt.filtre.CustomRichfacesFilter</filter-class>
  </filter>
  <filter>
    <display-name>habilitation Filtre</display-name>
    <filter-name>habilitationFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter>
    <display-name>URL Access Filter</display-name>
    <filter-name>urlAccessFilter</filter-name>
    <filter-class>com.cedicam.gm.bt.filtre.UrlAccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>richfaces</filter-name>
    <servlet-name>faces-servlet-name</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>urlAccessFilter</filter-name>
    <servlet-name>faces-servlet-name</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>habilitationFilter</filter-name>
    <servlet-name>faces-servlet-name</servlet-name>
  </filter-mapping>
  <listener>
    <listener-class>com.cedicam.gm.bt.listener.CustomContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>faces-servlet-name</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>faces-servlet-name</servlet-name>
    <url-pattern>*.bean</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>faces-servlet-name</servlet-name>
    <url-pattern>*.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>faces-servlet-name</servlet-name>
    <url-pattern>*.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testService</display-name>
    <servlet-name>testService</servlet-name>
    <servlet-class>servlet.TestService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testService</servlet-name>
    <url-pattern>/testService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exportcsv</display-name>
    <servlet-name>exportcsv</servlet-name>
    <servlet-class>servlet.ExportCsvSuivi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportcsv</servlet-name>
    <url-pattern>/exportcsv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accessPoint</display-name>
    <servlet-name>accessPoint</servlet-name>
    <servlet-class>com.cedicam.gm.bt.outil.AccessPoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accessPoint</servlet-name>
    <url-pattern>/AccessPoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>espionPresentation</display-name>
    <servlet-name>espionPresentation</servlet-name>
    <servlet-class>com.cedicam.gm.bt.outil.EspionPresentation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>espionPresentation</servlet-name>
    <url-pattern>/EspionPresentation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Redirect Servlet</servlet-name>
    <servlet-class>com.cedicam.gm.bt.erreur.RedirectServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect Servlet</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=400</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=401</location>
  </error-page>
  <error-page>
    <error-code>402</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=402</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=403</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=404</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=405</location>
  </error-page>
  <error-page>
    <error-code>406</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=406</location>
  </error-page>
  <error-page>
    <error-code>407</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=407</location>
  </error-page>
  <error-page>
    <error-code>408</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=408</location>
  </error-page>
  <error-page>
    <error-code>409</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=409</location>
  </error-page>
  <error-page>
    <error-code>410</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=410</location>
  </error-page>
  <error-page>
    <error-code>411</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=411</location>
  </error-page>
  <error-page>
    <error-code>412</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=412</location>
  </error-page>
  <error-page>
    <error-code>413</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=413</location>
  </error-page>
  <error-page>
    <error-code>414</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=414</location>
  </error-page>
  <error-page>
    <error-code>415</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=415</location>
  </error-page>
  <error-page>
    <error-code>416</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=416</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=500</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=501</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=502</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=503</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=504</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/redirect?url=/views/com/cedicam/gm/bt/erreur/erreur.bean?errorcode=505</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>/index.jspx</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
</web-app>